:local(.tableCell) {
  width: calc(100% / 7);
  padding: 4px 18px !important;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
}

:local(.tableCell:hover .hoverMask) {
  background-color: rgba(33, 150, 243, .6);
}

:local(.hoverMask) {
  background-color: rgba(33, 150, 243, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color .2s;
}
