<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout.html}" th:with="title='Carts'">
<body>
  <section layout:fragment="content">
    <a th:href="@{/carts/new}">New cart</a>
    <div class="ui divided link list">
      <a class="item" th:each="cart : ${carts}" th:href="@{'/carts/'+ ${cart.id}}">
        <span th:text="${#temporals.format(cart.createdAt, 'EEEE d MMMM yyyy')} + ' at ' + ${#temporals.format(cart.createdAt, 'HH:mm')}"></span>
      </a>
    </div>
  </section>
</body>
</html>