<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout.html}">
<body>
<section layout:fragment="content">
    <form class="ui form" action="#" th:action="@{/carts/new}" th:object="${newCartForm}" method="post">
        <div class="field" th:each="recipe : ${recipes}">
            <div class="ui toggle checkbox">
                <input type="checkbox" th:field="*{checkedRecipeIds}" th:value="${recipe.id}">
                <label th:text="${recipe.name}" th:for="${#ids.prev('checkedRecipeIds')}">Recipe</label>
            </div>
        </div>
        <button class="ui button" type="submit">Generate</button>
    </form>
</section>
</body>
</html>