<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout.html}"
      th:with="title='Cart ' + ${#temporals.format(cart.createdAt, 'EEEE d MMMM yyyy')} + ' at ' + ${#temporals.format(cart.createdAt, 'HH:mm')},activeHeader='carts'">
<body>
  <section layout:fragment="content">
    <div class="ui equal width grid container">
      <div class="equal width row">
        <div class="column">
          <h1 class="ui header" th:text="${#temporals.format(cart.createdAt, 'EEEE d MMMM yyyy')} + ' at ' + ${#temporals.format(cart.createdAt, 'HH:mm')}">Cart</h1>
        </div>
      </div>
      <div class="column">
        <div class="ui yellow piled segment">
          <div class="ui yellow ribbon large label">Ingredients</div>
          <div class="ui list">
            <div class="item" th:each="item : ${cart.items}">
              <div class="ui horizontal label">
                <span th:text="${item.name}">Ingredient</span>&nbsp;
                <div class="detail" th:text="${item.quantity} + ' ' + ${item.unit}">Quantity</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui red piled segment">
          <div class="ui red ribbon large label">Recipes</div>
          <div class="ui list">
            <div class="item" th:each="recipe : ${cart.recipes}">
              <h3>
                <a class="header" th:text="${recipe.name}" th:href="@{'/recipes/' + ${recipe.id}}">Recipe</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>