<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" th:href="@{/images/logo.png}"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <title th:text="${title} + ' - Witchcraft'">Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/semantic.min.css}">
</head>
<body>
<header class="ui attached stackable menu" th:with="headerList = ${ {'recipes', 'weeks', 'carts'} }">
  <div class="ui container">
    <a class="item" th:href="@{/}">
      <img th:src="@{/images/logo.png}">
    </a>
    <div th:each="header: ${headerList}" th:remove="tag">
      <a class="item" th:class="${header} eq ${activeHeader} ? 'active item' : 'item'" th:href="@{'/' + ${header}}" th:text="${header}">Header</a>
    </div>
  </div>
</header>
<section class="ui main container" layout:fragment="content">
  <p>Page content</p>
</section>
</body>
</html>