.recipe-card-title {
    text-transform: capitalize;
}

.recipe-card {
    cursor: pointer;
}

.recipe-card:hover .recipe-card-title {
    height: auto;
}

.recipe-card:hover .recipe-card-title div {
    overflow: auto !important;
    white-space: normal;
}

.recipe-cards-title {
    height: auto !important;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.day {
    text-transform: capitalize;
}

.current-recipe {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    color: #4caf50;
    font-size: 2rem !important;
}
