.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.day {
    text-transform: capitalize;
}

.current-recipe {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    color: #4caf50;
    font-size: 2rem !important;
}
