.table-cell {
    padding: 5px !important;
    text-transform: capitalize;
    position: relative;
}

.table-cell > .recipe-card {
    cursor: inherit;
}

.table-cell > .recipe-card:hover {
    transform: inherit;
}