@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.title {
    text-transform: capitalize;
    display: inline !important;
}

.image {
    width: 100%;
}

.leftIcon {
    margin-right: .5em;
}

.modifyIcon {
    margin-right: .5em;
}

.circularProgress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

.notes-container__update-value-button {
    text-align: right !important;
}

.notes-container {
    padding: 5px 10px;
}

.notes-container-color {
    background-color: #ffdb20 !important;
}

.notes-container__notes {
    cursor: pointer;
}

.notes-container__notes > * {
    margin: 5px 0 0 0 !important;
    font-family: 'Indie Flower', cursive !important;
}

.notes-container__notes-title {
    font-family: 'Indie Flower', cursive !important;
}
