@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.card-media {
    height: 200px;
}

.card-header-root {
    padding: 1em;
}

.card-header-title {
    font-size: 1.28em !important;
    line-height: 1.28em !important;
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif !important;
    color: rgba(0, 0, 0, .85) !important;
    font-weight: 700 !important;
}

.recipe-card {
    cursor: pointer;
    transition: transform .1s ease;
    width: inherit;
}

.recipe-card:hover {
    transform: translateY(-3px);
}
