.cart-page__ingredient {
    cursor: pointer;
}

.cart-page__ingredient .paper:hover {
    background-color: #eeeeee;
    transition: .2s ease;
}

.cart-page__ingredient-disabled {
    background-color: #bdbdbd;
    font-style: italic;
}

.cart-page__delete-button {
    background-color: #db2828 !important;
    color: #fff !important;
}