<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout.html}" th:with="title='Recipes',activeHeader='recipes'">
<body>
<section layout:fragment="content">
  <a th:href="@{/recipes/new}" class="ui primary button">
    New Recipe
  </a>
  <div class="ui hidden divider"></div>
  <div class="ui divided link items">
    <a class="item" th:each="recipe : ${recipes}" th:href="@{'/recipes/'+ ${recipe.id}}">
      <div class="ui tiny image">
        <img th:src="@{${recipe.imgUrl}}">
      </div>
      <div class="middle aligned content">
        <div class="header" th:text="${recipe.name}">Recipe</div>
        <div class="description">
          <p></p>
        </div>
      </div>
    </a>
  </div>
</section>
</body>
</html>