<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout.html}" th:with="title='Modify ' + ${recipe.name},activeHeader='recipes'">
<body>
<section layout:fragment="content">
  <form class="ui form" th:object="${recipe}" th:action="@{'/recipes/' + ${recipe.id} + '/modify'}" th:method="patch">
    <div class="field">
      <label>Name</label>
      <input type="text" th:field="*{name}" placeholder="Mini Goat Cheese Stuffed Potato Appetizers">
    </div>
    <div class="equal width fields">
      <div class="field">
        <label>Url</label>
        <input type="text" th:field="*{originUrl}" placeholder="http://example.com/recipe/32434">
      </div>
      <div class="field">
        <label>Image Url</label>
        <input type="text" th:field="*{imgUrl}" placeholder="http://example.com/recipe/32434.png">
      </div>
    </div>
    <div class="field">
      <label>Ingredients</label>
      <div th:each="ingredient, stat : ${recipe.ingredients}" class="fields">
        <input type="hidden" th:field="*{ingredients[__${stat.index}__].id}">
        <div class="two wide field">
          <input type="text" th:field="*{ingredients[__${stat.index}__].quantity}" placeholder="Quantity">
        </div>
        <div class="two wide field">
          <input type="text" th:field="*{ingredients[__${stat.index}__].unit}" placeholder="Unit">
        </div>
        <div class="fourteen wide field">
          <input type="text" th:field="*{ingredients[__${stat.index}__].name}" placeholder="Name">
        </div>
      </div>
    </div>
    <div class="field ui ordered list">
      <label>Steps</label>
      <div th:each="step, stat : ${recipe.steps}" class="field item">
        <input type="hidden" th:field="*{steps[__${stat.index}__].id}">
        <input type="text" th:field="*{steps[__${stat.index}__].name}" placeholder="Flour">
      </div>
    </div>
    <button class="ui primary button" type="submit">Modify</button>
  </form>
</section>
</body>
</html>