<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.name}">Title</title>
</head>
<body>
<section layout:fragment="content">
    <div class="ui equal width grid container">
        <div class="equal width row">
            <div class="column">
                <h1 class="ui header" th:text="${recipe.name}">Name</h1>
            </div>
        </div>
        <div class="column">
            <img class="ui medium rounded image" th:src="@{${recipe.imgUrl}}">
        </div>
        <div class="column">
            <div class="ui yellow piled segment">
                <div class="ui list">
                    <div class="item" th:each="ingredient : ${recipe.ingredients}">
                        <i class="thumbtack icon"></i>
                        <div class="content">
                            <div class="header">
                                <span th:text="${ingredient.quantity}">Quantity</span>
                                <span th:text="${ingredient.unit}">Unit</span>
                                <span th:text="${ingredient.name}">Quantity</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>