<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout.html}" th:with="title=${recipe.name},activeHeader='recipes'">
<body>
<section layout:fragment="content">
  <div class="ui equal width grid container">
    <div class="row">
      <div class="twelve wide column">
        <h1 class="ui header" th:text="${recipe.name}" style="text-transform: capitalize">Name</h1>
      </div>
      <div class="four wide column right aligned">
        <a th:href="@{'/recipes/' + ${recipe.id} + '/modify'}" class="ui yellow labeled icon button">
          <i class="edit icon"></i>
          Edit
        </a>
        <form th:method="delete" th:action="@{'/recipes/' + ${recipe.id}}" style="display: inline">
          <button class="ui negative labeled icon button" type="submit">
            <i class="trash alternate icon"></i>
            Delete
          </button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="thirteen wide column">
        <form id="ratingForm" th:action="@{'/recipes/' + ${recipe.id} + '/rate/'}" th:method="patch"></form>
        <div class="ui heart rating" id="rating"></div>
      </div>
      <div class="right aligned column">
        <div class="ui label">
          <i class="external alternate icon"></i>
          <a th:href="${recipe.originUrl}" target="_blank" class="detail">Go to recipe</a>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <img class="ui medium rounded image" th:src="@{${recipe.imgUrl}}">
    </div>
    <div class="six wide column">
      <div class="ui blue piled segment">
        <div class="ui blue ribbon large label">Steps</div>
        <div class="ui ordered list">
          <div class="item" th:each="step : ${recipe.steps}">
            <span th:text="${step.name}">Step</span>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="ui yellow piled segment">
        <div class="ui yellow ribbon large label">Ingredients</div>
        <div class="ui list">
          <div class="item" th:each="ingredient : ${recipe.ingredients}">
            <div class="ui horizontal label">
              <span th:text="${ingredient.name}">Ingredient</span>&nbsp;
              <div class="detail" th:text="${ingredient.quantity} + ' ' + ${ingredient.unit}">Quantity</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script th:src="@{/semantic.min.js}"></script>
  <script th:inline="javascript">
    function rateRecipe(value) {
      let id = /*[[${recipe.id}]]*/ 0;
      let form = document.getElementById('ratingForm');
      form.action = form.action + value;
      form.submit();
    }

    $('#rating').rating({
      initialRating: /*[[${recipe.favorite}]]*/ 0,
      maxRating: 1,
      clearable: true,
      onRate: rateRecipe
    });
  </script>
</section>
</body>
</html>