<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.name}">Title</title>
</head>
<body>
<div>
    <img th:src="@{${recipe.imgUrl}}" style="width: 200px" />
    <h1 th:text="${recipe.name}">Name</h1>
    <div>
        <h2>Ingredients</h2>
        <p th:each="ingredient : ${recipe.ingredients}">
            <span th:text="${ingredient.quantity}">Quantity</span>
            <span th:text="${ingredient.unit}">Unit</span>
            <span th:text="${ingredient.name}">Quantity</span>
        </p>
    </div>
</div>
</body>
</html>