<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="edit (week)" class="ui internally celled grid" style="height: 100%">
    <div layout:insert="fragments/week :: display (${week}, true)">
        <div layout:fragment="edit_dayId">
            <input type="hidden" th:field="*{days[__${stat.index}__].id}" th:value="${day.id}">
        </div>
        <div layout:fragment="edit_dayName">
            <input type="hidden" th:field="*{days[__${stat.index}__].name}" th:value="${day.name}">
        </div>
        <div layout:fragment="edit_dayLunchExist">
            <input type="hidden" th:field="*{days[__${stat.index}__].lunchId}" th:value="${day.lunch.id}">
        </div>
        <div layout:fragment="edit_dayLunchNotExist">
            <input type="hidden" th:field="*{days[__${stat.index}__].lunchId}">
        </div>
        <div layout:fragment="edit_dayDinerExist">
            <input type="hidden" th:field="*{days[__${stat.index}__].dinerId}" th:value="${day.diner.id}">
        </div>
        <div layout:fragment="edit_dayDinerNotExist">
            <input type="hidden" th:field="*{days[__${stat.index}__].dinerId}">
        </div>
    </div>
</div>

<div layout:fragment="display (week, draggable)" class="ui internally celled grid" style="height: 100%">
    <div class="eight column row" style="">
        <div class="column"></div>
        <div class="center aligned column" th:each="day: ${week.days}">
            <div class="header" th:text="${day.name}">Day</div>
        </div>
    </div>
    <div class="eight column row" style="min-height: 250px">
        <div class="middle aligned right aligned column">
            <div class="header">LUNCH</div>
        </div>
        <div class="column meal" th:each="day, stat : ${week.days}"
             th:ondrop="${draggable} ? 'handleOnDrop(event)'"
             th:ondragover="${draggable} ? 'handleDragOver(event)'"
             th:ondragleave="${draggable} ? 'handleDragLeave(event)'">
            <div layout:fragment="edit_dayId" th:remove="tag"></div>
            <div layout:fragment="edit_dayName" th:remove="tag"></div>
            <div class="ui cards" th:if="${day.lunch != null}">
                <div layout:fragment="edit_dayLunchExist" th:remove="tag"></div>
                <a th:insert="~{fragments/recipeCard :: simpleCard (${day.lunch}, ${draggable})}"></a>
            </div>
            <div class="ui cards" th:unless="${day.lunch != null}">
                <div layout:fragment="edit_dayLunchNotExist" th:remove="tag"></div>
            </div>
        </div>
    </div>
    <div class="eight column row" style="min-height: 250px">
        <div class="middle aligned right aligned column">
            <div class="header">DINER</div>
        </div>
        <div class="column meal" th:each="day, stat: ${week.days}"
             th:ondrop="${draggable} ? 'handleOnDrop(event)'"
             th:ondragover="${draggable} ? 'handleDragOver(event)'"
             th:ondragleave="${draggable} ? 'handleDragLeave(event)'">
            <div class="ui cards" th:if="${day.diner != null}">
                <div layout:fragment="edit_dayDinerExist" th:remove="tag"></div>
                <a th:insert="~{fragments/recipeCard :: simpleCard (${day.diner}, ${draggable})}"></a>
            </div>
            <div class="ui cards" th:unless="${day.diner != null}">
                <div layout:fragment="edit_dayDinerNotExist" th:remove="tag"></div>
            </div>
        </div>
    </div>
</div>