@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

a {
    text-decoration: none;
}

.witchcraft-title {
    font-family: 'Quicksand', sans-serif !important;
}

.witchcraft-paper {
    padding: .5em !important;
}