<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout.html}" th:with="title='Week',activeHeader='weeks'">
<body>
<section layout:fragment="content" class="ui padded grid">
  <form th:action="'/weeks/' + ${week.year} + '/' + ${week.weekNumber} + '/save'" th:method="patch" th:object="${weekForm}">
    <input type="hidden" th:value="${week.id}" th:field="*{id}">
    <h2 class="ui center aligned header" style="margin-top: 10px;">
      <a class="ui icon button" th:href="'/weeks/' + ${weekNav.prevYear} + '/' + ${weekNav.prevWeekNumber}">
        <i class="angle double left icon"></i>
      </a>
      <span th:text="'Year ' + ${week.year} + ', week ' + ${week.weekNumber}" style="margin: 0 30px; vertical-align: middle;"></span>
      <a class="ui icon button" th:href="'/weeks/' + ${weekNav.nextYear} + '/' + ${weekNav.nextWeekNumber}">
        <i class="angle double right icon"></i>
      </a>
      <button class="ui right floated primary button" type="submit">Save</button>
    </h2>
    <div class="ui grid">
      <div class="thirteen wide column" style="height: 100%">
        <div class="ui internally celled grid" style="height: 100%">
          <div class="eight column row" style="">
            <div class="column"></div>
            <div class="center aligned column" th:each="day: ${week.days}">
              <div class="header" th:text="${day.name}">Day</div>
            </div>
          </div>
          <div class="eight column row" style="min-height: 250px">
            <div class="middle aligned right aligned column">
              <div class="header">LUNCH</div>
            </div>
            <div class="column meal" th:each="day, stat : ${week.days}"
                 ondrop="handleOnDrop(event)"
                 ondragover="handleDragOver(event)"
                 ondragleave="handleDragLeave(event)">
              <input type="hidden" th:field="*{days[__${stat.index}__].id}" th:value="${day.id}">
              <input type="hidden" th:field="*{days[__${stat.index}__].name}" th:value="${day.name}">
              <div class="ui cards" th:if="${day.lunch != null}">
                <input type="hidden" th:field="*{days[__${stat.index}__].lunchId}" th:value="${day.lunch.id}">
                <a th:insert="~{fragments/recipeCard :: simpleCard (${day.lunch}, true)}"></a>
              </div>
              <div class="ui cards" th:unless="${day.lunch != null}">
                <input type="hidden" th:field="*{days[__${stat.index}__].lunchId}">
              </div>
            </div>
          </div>
          <div class="eight column row" style="min-height: 250px">
            <div class="middle aligned right aligned column">
              <div class="header">DINER</div>
            </div>
            <div class="column meal" th:each="day, stat: ${week.days}"
                 ondrop="handleOnDrop(event)"
                 ondragover="handleDragOver(event)"
                 ondragleave="handleDragLeave(event)">
              <div class="ui cards" th:if="${day.diner != null}">
                <input type="hidden" th:field="*{days[__${stat.index}__].dinerId}" th:value="${day.diner.id}">
                <a th:insert="~{fragments/recipeCard :: simpleCard (${day.diner}, true)}"></a>
              </div>
              <div class="ui cards" th:unless="${day.diner != null}">
                <input type="hidden" th:field="*{days[__${stat.index}__].dinerId}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="three wide column">
        <div class="ui internally celled grid">
          <div class="row">
            <div class="center aligned column">
              <div class="header">RECIPES</div>
            </div>
          </div>
          <div class="row" style="height: calc(100vh - 178px); overflow-y: scroll;">
            <div class="column">
              <div class="ui cards">
                <div th:remove="tag" th:each="recipe : ${recipes}"
                     th:insert="~{fragments/recipeCard :: simpleCard (recipe, true)}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    var currentDraggedElement = null;
    var currentDropperElement = null;

    function handleDragOver(ev) {
      currentDropperElement = ev.target;
      currentDropperElement.classList.add("dropper");

      ev.dataTransfer.dropEffect = "copy";

      ev.stopPropagation();
      ev.preventDefault();
    }

    function handleDragLeave(ev) {
      currentDropperElement.classList.remove("dropper");
      currentDropperElement = null;
    }
    
    function handleDragStart(ev) {
      currentDraggedElement = ev.target;
    }

    function handleOnDrop(ev) {
      ev.preventDefault();

      var cards = $(ev.target).find("div.cards");
      cards.remove("a");
      cards.append(currentDraggedElement);
      cards.find("input").val($(currentDraggedElement).attr("value"));

      console.log(cards.find("input"));
      console.log($(currentDraggedElement).attr("value"));
      console.log(currentDraggedElement);

      currentDropperElement.classList.remove("dropper");

      currentDropperElement = null;
      currentDraggedElement = null;
    }

  </script>
</section>
</body>
</html>